body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.task {
  margin-top: 30px;
  color: red;
}

.card-body-stars {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding: 20px;
  background-color: rgb(223, 223, 223);
}

.box-item {
  margin: 10px;
  width: 250px;
  padding: 10px;
  background-color: #fff;
}

.item-image {
  width: 250px;
}

.box-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-quantity {
  font-weight: 600;
  padding: 5px 10px;
  color: #fff;
}

.item-price {
  font-size: 20px;
  font-weight: 700;
  color: rgb(49, 146, 62);
}

.level-low {
  background-color: rgb(170, 74, 74);
}

.level-medium {
  background-color: rgb(170, 168, 74);
}

.level-high {
  background-color: rgb(74, 170, 95);
}